.content {
  border: 5px solid var(--accent-dark);
  background-color: rgba(195, 141, 95, 0.9);
  width: 70%;
  margin: auto;
  position: relative;
  top: 50px;

  button{
    width: 50px;
    height: 50px;
    float: right;
    background-image: url('../../../../assets/game/close.png');
    background-position: center;
    background-size: cover;
    border: none;
  }

  h1{
    font: bolder;
    color: black;
    padding: 50px;
  }

  .container__img-holder:hover {
    cursor: pointer;
  }

  img{
    border: 2px solid var(--accent-dark);
  }

  .row {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

.img-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.img-popup img {
  max-width: 80vw;
  width: 100%;
  opacity: 0;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.opened {
  display: flex;
}

.opened img {
  animation: animatepopup 1s ease-in-out .8s;
  -webkit-animation: animatepopup .3s ease-in-out forwards;
}

@keyframes animatepopup {

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

}
