  <div class="content">
    <button type="button" routerLink="/game/home-game" (click) ="OnClickPlay()"></button>
    <h1 class="text-center">DISEÑO DE LA BASE DE DATOS</h1>
    <div class="row m-5">
      <ul *ngFor="let item of infoUml">
        <li>
          <strong>{{ item.title }}</strong>
          {{ item.description }}
        </li>
      </ul>
    </div>
    <div class="m-5 container__img-holder" (click)="displayImageUml()">
      <img src="../../../../assets/game/info/uml.jpg" alt="Diagrama UML"  class="img-fluid">
    </div>
    <div class="row m-5">
      <ul *ngFor="let item of infoEr">
        <li>
          <strong>{{ item.title }}</strong>
          {{ item.description }}
        </li>
      </ul>
    </div>
    <div class="m-5 container__img-holder" (click)="displayImageEr()">
      <img src="../../../../assets/game/info/er.jpg" alt="Diagrama relacional"  class="img-fluid">
    </div>
  </div>

  <div class="img-popup" (click)="closePopup()">
    <img src="" alt="Popup Image" (click)="stopPropagation($event)">
  </div>
