<div class="background">
  <div class="content">
    <button type="button"></button>
    <h1 class="text-center">GUÍA DEL USUARIO</h1>
    <div class="row m-5">
      <div class="col-lg-6 d-flex align-items-center">
        <p>La historia se desarrolla con unas señales en el mapa llamados “puntos de interés”. Al empezar la partida,
          solamente estará disponible un punto de interés. Para desbloquear los puntos de interés posteriores se requiere
          completar la query solicitada por dicho punto.
          Una vez resuelto el ejercicio propuesto, de desbloquearán los puntos siguientes. Hay casos donde hay puntos de
          interés que desbloquean varios puntos, de los cuales solos se podrá elegir uno. El resto de puntos hermanos al
          elegido no se podrán elegir posteriormente.
          Al finalizar un punto de interés no se podrá volver a visitar.</p>
      </div>
      <div class="col-lg-6">
        <img src="../../../../assets/game/user-guide/first-photo.png" alt="Mapa del juego" class="img-fluid">
      </div>
    </div>
    <div class="row m-5">
      <p>Al hacer clic en un punto de interés, se desplegará una ventana emergente con el fragmento de historia (centro), el emblema diseñado por el usuario (esquina superior izquierda), una imagen ilustrativa (derecha), el título del punto de interés (centro) y un icono de ratón (esquina inferior derecha). Para progresar en ella, se deberá hacer clic con el botón izquierdo sobre el icono para que la narración continúe.</p>
    </div>
    <div class="row m-5">
      <img src="../../../../assets/game/user-guide/second-photo.png" alt="Contenido del punto de interes" class="img-fluid">
    </div>
    <div class="row m-5">
      <p>Una vez acabada la narración, la ventana emergente se modificará. En el centro estará ubicado el espacio donde el usuario deberá de introducir la query indicada por el texto superior. A su derecha está ubicada una imagen ampliable del diagrama relacional de la base de datos, para que el usuario pueda realizar las consultas necesarias. Por último, a su izquierda están ubicados los tres comodines con los que empieza el usuario.</p>
    </div>
    <div class="row m-5">
      <img src="../../../../assets/game/user-guide/third-photo.png"  alt="Pregunta del punto de interes" class="img-fluid">
    </div>
    <div class="row m-5">
      <p>Los comodines que puede realizar el usuario durante la realización de una consulta son los siguientes:</p>
    </div>
    <div class="row m-5">
      <div class="col-lg-6">
        <img src="../../../../assets/game/user-guide/first-hint.png" alt="Primera pista" class="img-fluid">
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <p>Combinar dos o más tablas en base a una condición especificada.</p>
      </div>
    </div>
    <div class="row m-5">
      <div class="col-lg-6 d-flex align-items-center">
        <p>Combinar dos o más tablas en base a una condición especificada.</p>
      </div>
      <div class="col-lg-6">
        <img src="../../../../assets/game/user-guide/second-hint.png" alt="Segunda pista" class="img-fluid">
      </div>
    </div>
    <div class="row m-5">
      <div class="col-lg-6">
        <img src="../../../../assets/game/user-guide/third-hint.png" alt="Tercera pista" class="img-fluid">
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <p>Combinar dos o más tablas en base a una condición especificada.</p>
      </div>
    </div>
    <div class="row m-5">
      <p>Cuando creas que has escrito la query correcta, pulsa el botón “LISTO”. A continuación se evaluará la query introducida:</p>
    </div>
    <div class="row m-5">
      <div class="col-lg-6">
        <img src="../../../../assets/game/user-guide/win.png" alt="" class="img-fluid">
        <p>Si has escrito una query que realiza la demanda del punto de interés, se indicará que has completado con éxito la prueba.</p>
      </div>
      <div class="col-lg-6">
        <img src="../../../../assets/game/user-guide/loose.png" alt="" class="img-fluid">
        <p>Si has escrito una query que no realizaba exactamente lo que el punto exigía, se indicará cuál era la query pedida y la corrección a la query que escribiste</p>
      </div>
    </div>
    <div class="row m-5">
      <p>Depende de los puntos que aciertes o que falles, la historia evolucionará en un sentido u otro, por lo que no te desanimes o reinicies si no has conseguido completar bien alguno de ellos, siempre hay tiempo para otra partida. </p>
    </div>
  </div>
</div>
