<div class="map-container" id="map-container">
  <div class="map-frame">
    <div id="map"></div>
    <ng-container *ngIf="currentUser !== undefined">
      <app-point-detail #pointDetail></app-point-detail>
    </ng-container>
    <!-- <app-chatbot></app-chatbot>
    <app-hint></app-hint>
    <app-archievement></app-archievement>-->
  </div>
</div>

 <div class="modal" [class.active]="modalActive">
  <div class="modal-content">
    <p>¿Estás seguro de que deseas salir?</p>
    <div class="modal-buttons">
      <button (click)="confirmExit()">Sí</button>
      <button (click)="cancelExit()">No</button>
    </div>
  </div>
</div>
