#user-archievement{
  max-width: 45em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: white;
  margin-top: 50px;

  .archievement {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  .text {
    flex: 1;
  }

  .text h5 {
    margin-top: 0;
  }

  .text p {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    grid-template-columns: 25em 25em;
  }
}
