.archievement {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 450px;
  height: 130px;
  z-index: 999;
  border: 5px solid var(--accent-dark);
  background-color: var(--accent-light-light);

  .image{
    width: 130px;
    height: 100%;
    background-color: blue;
  }
}
