<section id="game-profile">
  <form action="">
    <div class="shield">
      <button type="button" class="previous"></button>
      <div class="user-shield"></div>
      <button type="button" class="next"></button>
    </div>
    <div class="character">
      <input type="text" name="name" id="name" placeholder="Nombre">
      <input type="text" name="nickname" id="nickname" placeholder="Apodo">
      <input type="text" name="house" id="house" placeholder="Casa">
      <input type="text" name="words" id="words" placeholder="Lema">
    </div>
    <div class="save">
      <button type="submit">GUARDAR</button>
    </div>
  </form>
</section>
