.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50em;
  height: auto;
  z-index: 999;
  border: 5px solid var(--accent-dark);
  background-color: var(--accent-light-light);
  color: var(--primary-dark);

  .shield {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    left: -65px;
    top: -50px;
    background-position: center;
    background-size: cover;
  }

  .title {
    position: relative;
    width: 300px;
    height: 50px;
    margin: auto;
    top: -26px;
    background-color: var(--accent-light);
    color: var(--primary-light-light);
  }

  .left {
    width: 45%;

    .question {
      background-color: var(--accent-light);
      color: var(--primary-light-light);
      border: 2px solid var(--accent-dark);
    }

    .hints {
      justify-content: space-between;
      width: 170px;
    }

    .hint-link {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid var(--accent-dark);
      background-image: url('../../../../../../assets/game/map/hint-link.png');
      background-position: center;
      background-size: cover;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--accent-dark);
      }
    }

    .answer textarea {
      height: 150px;
      overflow-y: scroll;
      resize: none;
      background-color: var(--primary-dark);
      color: var(--primary-light-light);
    }

    .submit button {
      padding: 3px 5px;
      background-color: var(--primary-light-light);
      color: var(--primary-dark);
      font-size: 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      border: 2px solid transparent;

      &:hover {
        background-color: var(--accent-shade);
        color: var(--primary-light-light);
        border: 2px solid #C38D5F;
      }
    }
  }

  .right{
    width: 45%;
    background-image: url('../../../../../../assets/game/info/er.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    width: 40em;
    height: 20em;
    max-width: none;

    .shield {
      width: 70px;
      height: 70px;
      float: right;
      left: 45px;
      top: -20px;
    }

    .title {
      height: 40px;
      top: 4px;
    }

    .content {
      margin-top: 20px;
      width: 100%;
      height: 14em;

      .question {
        font-size: 12px;
      }

      .answer textarea {
        height: 105px;
      }

      .submit button {
        font-size: 15px;
      }
    }
  }
}


.img-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 10000;
}

.img-popup img {
  max-width: 80vw;
  width: 100%;
  opacity: 0;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.opened {
  display: flex;
}

.opened img {
  animation: animatepopup 1s ease-in-out .8s;
  -webkit-animation: animatepopup .3s ease-in-out forwards;
}

@keyframes animatepopup {

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

}

.disabled {
  pointer-events: none; /* Deshabilita la interacción del usuario */
  opacity: 0.5; /* Puedes aplicar algún efecto visual para indicar que está deshabilitado */
}

