/* VARIABLES */

:root {
  // colors
  --primary-dark: #000000;
  --primary-shade: #656565;
  --primary-light: #A9A9A9;
  --primary-light-light: #FFFFFF;

  --accent-dark: #3C1A0B;
  --accent-shade: #4F2715;
  --accent-light: #67331E;
  -accent-light-light: #C38D5F;


}
