<section id="game-config">
  <form [formGroup]="configGameForm" (ngSubmit)="updateGameConfig()" class="row">
    <div class="labels col-5 d-flex flex-column">
      <label for="day/night" class="mb-3">EFECTO DIA/NOCHE</label>
      <label for="full-screen" class="mb-3">PANTALLA COMPLETA</label>
      <label for="music-volume" class="mb-3">VOLUMEN DE LA MUSICA</label>
      <label for="sound-effect" class="mb-3">EFECTO DE SONIDO</label>
      <label for="point-size" class="mb-3">TAMAÑO DE LOS PUNTOS</label>
    </div>

    <div class="inputs col-7">
      <div class="input d-flex justify-content-around mb-3">
        <div>
          <input type="radio" formControlName="dayNight" name="dayNight" id="day" value="true"> SÍ
        </div>
        <div>
          <input type="radio" formControlName="dayNight" name="dayNight" id="night" value="false" checked> NO
        </div>
      </div>
      <div class="input d-flex justify-content-around mb-3">
        <div>
          <input type="radio" formControlName="fullScreen" name="fullScreen" id="full-screen" value="true"> SÍ
        </div>
        <div>
          <input type="radio" formControlName="fullScreen" name="fullScreen" id="full-screen-no" value="false" checked> NO
        </div>
      </div>
      <div class="input d-flex align-items-center mb-3">
        <div class="sound-off"></div>
        <input formControlName="musicVolume" type="range" name="musicVolume" id="music-volume" min="0" max="100" step="1" value="30">
        <div class="sound-on"></div>
      </div>
      <div class="input d-flex mb-3 align-items-center">
        <div class="sound-off"></div>
        <input formControlName="soundEffect" type="range" name="soundEffect" id="sound-effect" min="0" max="100" step="1" value="50">
        <div class="sound-on"></div>
      </div>
      <div class="input d-flex mb-3 d-flex justify-content-between">
        <div>
          <input formControlName="pointSize" type="radio" name="pointSize" id="small" value="small"> PEQUEÑO
        </div>
        <div>
          <input formControlName="pointSize" type="radio" name="pointSize" id="medium" value="medium" checked> MEDIANO
        </div>
        <div>
          <input formControlName="pointSize" type="radio" name="pointSize" id="big" value="big"> GRANDE
        </div>
      </div>
    </div>
    <div class="save d-flex justify-content-center mt-3">
      <button type="submit">GUARDAR</button>
    </div>
  </form>
</section>
