  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 about-us">
          <h6>Sobre nosotros</h6>
          <p class="text-justify">Game of SQL es una plataforma dedicada a facilitar el aprendizaje de SQL de una manera divertida y accesible. En Game of SQL nos enfocamos en proporcionar los conceptos más importantes y eficientes para que el aprendizaje sea simple y efectivo. Nuestro objetivo es ayudar a los programadores en ciernes a construir sólidas bases en SQL, ofreciendo contenido enriquecedor y ejemplos prácticos.</p>
        </div>

        <div class="col-sm-6 col-md-3 categories">
          <h6>Categorías</h6>
          <ul class="footer-links">
            <li>SQL</li>
            <li>Aventura</li>
            <li>Aprendizaje</li>
            <li>Mapa interactivo</li>
          </ul>
        </div>

        <div class="col-sm-6 col-md-3 quick-links">
          <h6>Enláces rápidos</h6>
          <ul class="footer-links">
            <li>Disclaimer</li>
            <li>Términos y condiciones</li>
            <li>Política de privacidad</li>
            <li>Política de cookies</li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 Todos los derechos reservados
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li class="youtube"><a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a></li>
            <li class="twitter"><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
            <li class="linkedin"><a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
            <li class="facebook"><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
