.hint {
  position: fixed;
  bottom: 0;
  width: 450px;
  height: 130px;
  z-index: 999;
  border: 5px solid var(--accent-dark);
  background-color: var(--accent-light-light);

  .image{
    width: 600px;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  p {
    font-size: 11px;
  }

  @media screen and (max-width: 768px) {
    right: 0;
    top: 0;
    width: 370px;

    .image {
      height: 100%;
    }

    p {
      font-size: 10px;
    }
  }
}

