<section id="account-settings">
  <div class="content d-flex flex-column justify-content-center align-items-center">
    <div class="change-email d-flex flex-column w-100 text-center" (click)="displayForm('form-email')">
      Cambiar correo eletrónico
    </div>
    <form [formGroup]="changeEmailForm" (ngSubmit)="changeEmail(newEmail.value)" id="form-email" class="d-none flex-column">
      <input type="email" formControlName="newEmail" placeholder="Nuevo correo" #newEmail>
      <span class="form-text text-danger" *ngIf="isValidField('newEmail', changeEmailForm)">{{ getFieldError('newEmail', changeEmailForm) }}</span>

      <input type="email" formControlName="confirmEmail" placeholder="Confirmar correo">
      <span class="form-text text-danger" *ngIf="isChangeEmailFormSubmitted && changeEmailForm.hasError('notEqual', 'confirmEmail')">{{ getFieldError('confirmEmail', changeEmailForm) }}</span>
      <span class="form-text text-danger" *ngIf="isChangeEmailFormSubmitted">{{ errorMessage }}</span>

      <button type="submit">Cambiar correo</button>
    </form>
    <div class="change-password d-flex flex-column w-100 text-center" (click)="displayForm('form-pass')">
      <p class="mb-0">Cambiar contraseña</p>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(newPassword.value)" id="form-pass" class="flex-column d-none">
      <input type="password" formControlName="newPassword" placeholder="Nueva contraseña" #newPassword>
      <span class="form-text text-danger" *ngIf="isValidField('newPassword', changePasswordForm)">{{ getFieldError('newPassword', changePasswordForm) }}</span>

      <input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña">
      <span class="form-text text-danger" *ngIf="isChangePasswordFormSubmitted && changePasswordForm.hasError('notEqual', 'confirmPassword')">{{ getFieldError('confirmPassword', changePasswordForm) }}</span>

      <button type="submit">Cambiar contraseña</button>
    </form>
    <div class="reboot d-flex flex-column w-100 text-center" (click)="displayForm('form-reboot')">
      <p class="mb-0">Reiniciar cuenta</p>
    </div>
    <form [formGroup]="rebootAccountForm" (ngSubmit)="rebootAccount()" id="form-reboot" class="d-none flex-column">
      <p>¿Estás seguro que quieres reiniciar tu cuenta? Esta acción no se puede deshacer.</p>
      <button type="submit">Si, estoy seguro</button>
    </form>
    <div class="delete d-flex flex-column w-100 text-center" (click)="displayForm('form-delete')">
      <p class="mb-0">Borrar cuenta</p>
    </div>
    <form [formGroup]="deleteAccountForm" (ngSubmit)="deleteAccount()" id="form-delete" class="d-none flex-column">
      <span for="">¿Estás seguro que quieres borrar tu cuenta? Esta acción no se puede deshacer.</span>
      <button type="submit">Si, estoy seguro</button>
    </form>
  </div>
</section>
