.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60em;
  max-width: 90%;
  height: auto;
  z-index: 999;
  border: 5px solid var(--accent-dark);
  background-color: var(--accent-light-light);
  color: var(--primary-dark);

  .shield {
    position: relative;
    width: 150px;
    height: 150px;
    float: left;
    left: -90px;
    top: -70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    position: relative;
    width: 300px;
    height: 50px;
    margin: auto;
    top: -26px;
    background-color: var(--accent-light);
    color: var(--primary-light-light);
  }

  .history {
    position: relative;
    width: 780px;
    height: 350px;
    margin: auto;
    padding: 20px;
    margin-left: 130px;

    .continue {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: url('../../../../../assets/game/map/mouse.png');
      background-position: center;
      background-size: cover;
    }
  }


  @media screen and (max-width: 768px) {
    width: 90%;
    margin-left: 0;
    text-align: center;
    height: 20em;

    .shield {
      width: 70px;
      height: 70px;
      left: 610px;
      top: -20px;
    }

    .title {
      margin-top: 20px;
      width: 300px;
      height: 40px;
      top: 0;
    }

    .history {
      margin-left: 0;
      font-size: 12px;
      height: 80%;
      width: auto;
    }
  }
}
